services:
  backend:
    build: ./backend
    container_name: express-backend
    ports:
      - "4000:4000"
    networks:
      - fullstack-net
    restart: unless-stopped
  frontend:
    build: ./frontend
    container_name: react-frontend
    ports:
      - "5174:3000"
    networks:
      - fullstack-net
    depends_on:
      - backend
    restart: unless-stopped

networks:
  fullstack-net:
    driver: bridge